<div class="container">
  <div class="header">
    <div class="username">GOGOLxMINTU</div>
    <img src="assets/img/couple.jpg" alt="Couple photo" class="profile-pic" />
  </div>
<div class="content">
  <div class="login-box">
    <h2>LOG IN FOR SOME LOVE REQUESTS!</h2>
    <label for="username">Username</label>
    <input type="text" id="username" placeholder="">

    <label for="password">Password</label>
    <input type="password" id="password" placeholder="">

    <button class="login-btn">
      <img src="assets/img/login-btn-heart.webp" alt="Heart" class="btn-icon" />
      Next
    </button>
  </div>
  <div class="footer-icons">
    <img src="assets/img/login-footer-1.webp" alt="Jar" />
    <img src="assets/img/login-footer-2.png" alt="Letter" />
    <img src="assets/img/login-footer-3.webp" alt="Letter" />
  </div>
</div>
</div>