<div class="icons" id="icons" align="center">
    <div class="grow">
      <p class="icon-title">Schedule an Appointment</p> 
      <img src="../../assets/img/calendar.png">
      <p class="animated fadeIn">Schedule a meeting with your {{Name}}</p>
    </div> 
    <div class="grow">
      <p class="icon-title">Send a Feedback</p> 
      <img src="../../assets/img/feedback.png">
      <p class="animated fadeIn">I'm always looking for the most satisfying and intuitive user experience possible</p>
    </div>
    <div class="grow">
      <p class="icon-title">Responsive Design</p> 
      <img src="img/Responsive.png">
      <p class="animated fadeIn">All my sites are designed for use on mobiles and tablets, and adapt to all screen resolutions</p>
    </div> 
    <div class="grow">
      <p class="icon-title">Developement</p> 
      <img src="img/developement.png">
      <p class="animated fadeIn">I develop unique, tailor-made sites that meet the needs of my clients</p>
    </div>
</div>