input[type="date"]{
  background-color: #e9f5db;
  padding: 15px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-family: "Roboto Mono",monospace;
  color: #87986a;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
  background-color: #87986a;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}